<h2>
  <span> BIO / No. <%= @bio.id%></span>
  Here is your <u>Random Bio!</u> Broaden your horizons by meeting new People!
</h2>

<h1><%= @bio.person %></h1>
<h2><%= @bio.life %></h2>
<h2>Individual's hobbies: <%= @bio.hobbies%></h2>
<h2>Individuals Birthday: <%= @bio.dob %></h2>

<br class="clear" />
<br />
<br />
<br />