<h1>Enter The Bio Infomation</h1>
<%= simple_form_for @bio do |f| %>
  <%= f.input :person %>
  <%= f.input :life %>
  <%= f.input :dob %>
  <%= f.input :hobbies %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>