<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dhh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path do %>
          <div class="circle">
            <br />
            Add 
            <br />
            Interesting
            <br /> 
            People
          </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Make a quick bio!
      </div>
      <div class="col-5 links">
        <%= link_to 'Add More Bios', new_bio_path %>
      </div>
    </header>

    <hr />


    <br class="clear" />

    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "More Bio? Click Me!", root_path, class: 'next-qsuote' %>
          </div>
          <div class="col-6 footer-blurb">
            Created in Houston,TX by Kevin Nguyen <br /> Need to get in touch? <a href="mailto:kev.ftw595@gmail.com">Email Me</a>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>
